<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <Product
      Id="*"
      Name="Got Your Back"
      Language="1033"
      Version="$(env.GYBVERSION)"
      Manufacturer="Jay Lee - jay0lee@gmail.com"
      UpgradeCode="15C3FD21-B13C-4E34-B26D-CD9424D19E9F">
    <Package
        InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade
        DowngradeErrorMessage=
            "A newer version of [ProductName] is already installed."
        Schedule="afterInstallExecute" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <UIRef Id="WixUI_InstallDir" />

    <Feature
        Id="gyb"
        Title="GYB"
        Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ROOTDRIVE">
          <Directory Id="INSTALLFOLDER" Name="GYB" />
        </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!-- Group of components that are our main application items -->
    <ComponentGroup
        Id="ProductComponents"
        Directory="INSTALLFOLDER"
        Source="gyb">
      <Component Id="gyb_exe" Guid="896cbc37-43d5-4dce-0f31-54daf61bace1">
        <File Name="gyb.exe" KeyPath="yes" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="yes" Part="last" Action="set" System="yes" />
      </Component>
      <Component Id="license" Guid="7b14dd2f-cb92-4d0b-c8ba-e7b19c68f569">
        <File Name="LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="gyb_setup_bat" Guid="ec01e92a-3b10-498a-9e01-cc5e13e56218">
        <File Name="gyb-setup.bat" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <InstallUISequence>
      <ExecuteAction />
      <Show Dialog="WelcomeDlg" Before="ProgressDlg" />
    </InstallUISequence>
    <CustomAction Id="setup_gyb" ExeCommand="[INSTALLFOLDER]gyb-setup.bat" Directory="INSTALLFOLDER" Execute="commit" Impersonate="yes" Return="asyncWait"/>
    <InstallExecuteSequence>
     <Custom Action="setup_gyb" After="InstallFiles" >NOT Installed AND NOT UPGRADINGPRODUCTCODE AND NOT WIX_UPGRADE_DETECTED</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
